@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0 auto;
}

body{
    font-family: "Poppins";
    background-color:rgb(240, 240, 240);
}

nav{
    color: white;
    background-color: rgb(245, 0, 73);
    padding: 1em;
    text-align: center;
}

.pokeball:hover{
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin-top: 2em;
    width: 12em;
    height: 12em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
    text-align: center;
}

.card:hover{
    background-color: rgb(245, 0, 73);
    color: white;
    width: 12em;
    height: 12em;
}

.pokemon-img{
    margin-top: 1.5em;
    width: 7em;
    height: 7em;
}

.button{
    display: inline-block;
    padding-top:2em;
}
.add-button, .submit-button{
    padding: 1em;
    border-style: none;
    color: white;
    border:none;
    background-color: rgb(26, 26, 26);
    font-weight: 900;
    cursor: pointer;
    margin-left: 3em;
    margin-right: 1em;
}

.submit-button {
    margin-right: 3em;
    margin-top: 2em;
}
.add-button:hover, .submit-button:hover{
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.search-field{
    width:30em;
    border:.1em solid rgb(122, 122, 122);
    padding: .9em;
    display: inline-block;
}

.search-field:focus{
    outline: 0;
    border:.1em solid rgb(245, 0, 73);
    padding: 1em;
    display: inline-block;
}

.newpage-field{
    border:.1em solid rgb(122, 122, 122);
    padding: .5em;
    margin: .2em;
}

.newpage-field:focus{
    outline: 0;
    border:.1em solid rgb(245, 0, 73);
    padding: .5em;
}

a{
    color: black;
    text-decoration: none;
}

.arrow{
    margin-top: 2em;
    margin-left: 2em;
}

.showpage-container, .newpage-container{
    width: 25em;
    height: 25em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
    text-align: center;
    margin-bottom: 1em;
}
.newpage-container h2{
    padding-top: 2em;
}
#pokemon-img-showpage{
    width: 15em;
    height: 15em;
    margin-top: 1.5em;
}

#stats h4{
    padding-top: 2em;
    /* text-align: left;
    margin-left:5em; */
}

.button-showpage{
    display: inline-block;
    margin: .3em;
}

.delete-button{
    padding:.6em;
    color:white;
    background-color:rgb(245, 0, 73);
    font-weight: 900;
    cursor: pointer;
    border-style: none;
    margin-top: .5em;
}

.edit-button{
    padding:.6em;
    color: white;
    background-color:black;
    font-weight: 900;
    cursor: pointer;
    font-weight: 900;
    cursor: pointer;
    border-style: none;
}